body {
 background-image: url("https://wallpaper.dog/large/5543602.jpg");
 background-color: #cccccc;
 color:white;
}

.jumbotron{
 font-family:Dubai;
}

p{
 background-color: white;
    padding: 1em 1.5em;
    display: block;
    margin: 5px;
    border-radius: 20px;
    background-color:azure;
}

